<h1> All Groups</h1>
<% @groups.each do |group| %>
<div class="card mb-2" style="width: 18rem;">
  <%= load_image(group) %>
  <div class="card-body">
    <h5 class="card-title"><%= group.name%></h5>
    <p class="card-text"><%= group.created_at.strftime('%d %b %Y at %l:%M%P')%></p>
    <%= link_to "show", group,  class: "btn btn-primary" %>
  </div>
</div>
<%end%>

<%= link_to "Add New Group", new_group_path %><br/><br/>