<h6 class="text-muted p-2"> All Groups</h6>
<ul class="mobile-list">
  <% @groups.each do |group| %>
    <li class="item">
      <%= load_image(group) %>
      <div class="details">
        <div class="title"><%= group.name%></div>
        <small><%= group.created_at.strftime('%d %b %Y at %l:%M%P')%></small>
      </div>
      <div class="font-weight-bold text-muted">
        <%= link_to "show", group,  class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to new_group_path, class: "link-btn btn
                  btn-success w-100 p-4 rounded-0" do %>
  <span class="p-3 border border-light">Add New Group</span>
<% end %>