<div>
  <%= load_image(@group) %>
  <%= @group.name%>
  <%= @group.created_at%><br><br>
</div>
<% @transactions.each do |transaction| %>
  <div class="card mb-1">
    <div class="card-body">
      <div class="card-title">Author:  <%= transaction.user.username %></div>
      <div> 
        <p class="card-subtitle mb-2 text-muted"><%= transaction.name %></p>
        <p class="card-subtitle mb-2 text-muted"><%= transaction.description %></p>
        <p class="card-subtitle mb-2 text-muted"><%= transaction.amount%></p>
      </div>
    </div>
  </div>
 <% end %>   