
<h1> Add Your Transaction </h1>

<%= form_with model: @transaction do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Enter transaction name',class: 'form-control',id:"name"  %><br><br/>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'Enter transaction name',class: 'form-control',id:"name" %>
    <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">$</div>
    </div>
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'form-control',id:"amount"  %><br><br/>
    <%= collection_select(:transaction, :group_id, Group.all, :id, :name, { :prompt => 'Group' }, class: "form-control my-3" ) %>

    <%= f.submit %>
<% end %>
