<input type='checkbox' id='menu-check'>

<header class="header p-4 text-center font-weight-bold text-uppercase sticky-top text-light">
  Transactify
</header>

<!-- Use any element to open the sidenav -->
<label for='menu-check' id="toggler">
  <span></span>
  <span></span>
  <span></span>
</label>

<div id="mySidenav" class="sidenav">
  <div class="profile">
    <%= display_profile %>
  </div>
  <%= link_to root_path do %>
    <i class="material-icons">home</i>
    Home
  <%end%>
  <%= link_to transactions_path do %>
    <i class="material-icons">list_alt</i>
    All Transactions
  <%end%>
  <%= link_to transactions_path(:external => true) do %>
    <i class="material-icons">list</i>
    External Transactions
  <%end%>
  <%= link_to groups_path do %>
    <i class="material-icons">group</i>
    All Groups
  <%end%>
  <%= link_to destroy_user_session_path, redirect_to: root_path, method: :delete do %>
    <i class="material-icons">logout</i>
    Logout
  <%end%>
</div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
